#main {
	text-align: center;
	padding-top: 10px;
	width: 95vw;
	margin: auto;
}

#social_media_links {
	margin-top: 2rem;
}

#social_media_links>* {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

#social_media_links h2 {
	font-size: 2rem;
}

#social_media_links a {
	text-decoration: underline;
}